@mixin clearfix {
    &::after {
        content: "";
        display:table;
        clear: both;
    }
    
}

@mixin respond ($bp) {
    // 1200px
    @if $bp == largest {
        @media only screen and (max-width: 75em) { @content } 
    }

    //1100px - h1 styling
    @if $bp == large-h1 {
        @media only screen and (max-width: 68.75em) { @content }
    }

    //1000px
    @if $bp == large {
        @media only screen and (max-width: 62.5em) { @content }
    }

    //900px
    @if $bp == medium {
        @media only screen and (max-width: 56.25em) { @content }
    }

    //800px - h4 styling
    @if $bp == medium-h4 {
        @media only screen and (max-width: 50em) { @content }
    }

    //700px  
    @if $bp == small {
        @media only screen and (max-width: 43.75em) { @content }
    }

    //600px
    @if $bp == smaller {
        @media only screen and (max-width: 37.5em) { @content }
    }

    //500px
    @if $bp == big-phone {
        @media only screen and (max-width: 31.25em) { @content }
    }

    //400px
    @if $bp == phone {
        @media only screen and (max-width: 25em) { @content }
    }




}