.header {
    background-image: linear-gradient(rgba(80, 80, 80, 0.78), rgba(0, 0, 0, 0.78)), url(../../vendors/img/silo.jpg);
    background-size: cover;
    background-position: left;
    height: 100vh;
    color: $color-white;
    position: relative;
    
    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 75%;

        &__logo {
            margin-bottom: 2rem;
        }
    }
}