.main-nav {

    &__logo-box {
        display: none;
    }

    &__list {
        text-align: right;
        list-style: none;  
        animation: .5s ease-out moveInUp 1.7s;
        animation-fill-mode: backwards;
    }
    

    &__item {
        display: inline-block;
        font-size: 1.7rem;
        font-weight: 300;
        margin: 4rem;
        
    }

    &__link {
        
        &:link,
        &:visited {
            display: inline-block;
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 1.5rem;
            padding: 1.5rem .5rem;
            color: $color-white;
            border: .2rem transparent;
            transition: all .2s;
        }

        &:hover { border-bottom: .2rem solid $color-primary-orange; }

        &:active { transform: translateY(1px); }
        
    }
    
}