.mobile-nav {
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    z-index: 5000;

    &__icon {
        
        height: 6rem;
        width: 8rem;
    }

    &__navigation {

    }

    &__list {
        display: none;
        list-style: none;
    }

    &__item {

    }

    &__link {

    }
}