.sticky-nav {
    background-color: rgba($color-grey-light-2, .95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
    box-shadow: 0 1rem 3rem rgba($color-black, .2);
   // backface-visibility: hidden;

    & .main-nav__logo-box {
        display: inline-block;
    }
    & .main-nav__logo {
        width: 13rem;
        padding: 2rem;
        margin-left: 4rem;
        vertical-align: middle;
    }

    & .main-nav__list { 
        position: absolute;
        top: 0;
        right: 0;
        animation: none; 
        vertical-align: middle;
      //  animation: none;
    }
    

    & .main-nav__item {
        font-weight: 400;
        margin: 1.85rem 4rem;   
           
        @include respond (medium) {
            margin: 1.85rem 2rem;
        }
    }

    & .main-nav__link { 

        &:link,
        &:visited {
            color: $color-grey-dark;
            padding: 0;
            transition: color .2s;
            
        }
        &:hover {
            border: none;
            color: $color-primary-orange; 
        }
        &:active { transform: translateY(0); }
        
    }

    
    
}


