.btn {
    
    &:link,
    &:visited {
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        display: inline-block; 
        margin-right: 2.5rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        transition: all .2s;
        position: relative;
        backface-visibility: hidden;

        @include respond(smaller) {
            display: block;
            margin: 0 auto 2.5rem auto;
        }
    }
    
    &:hover { transform: translateY(-3px); }

    &:active { 
        transform: translateY(-1px);
        background-color: $color-dark-orange;
    }

    &--full {
        backface-visibility: hidden;
        background-color: $color-primary-orange;
        color: $color-white;

        @include respond(smaller) {
            width: 45%;   
        }
    }

    &--ghost { 
        backface-visibility: hidden;
        color: $color-white;

        @include respond(smaller) {
            width: 63%;   
        }

        @include respond(big-phone) {
            width: 80%;
        }

        @include respond(phone) {
            width: 70%;
        }
       
        &:hover {
            color: $color-grey-dark;
            background-color: $color-white;
        }

        &:active { background-color: $color-grey-light; }
    }
    
    &--animated::after {
        backface-visibility: hidden;
        content: "";
        height: 100%;
        width: 100%;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s;
    }

    &--animated:hover::after {
        opacity: 0;
        transform: scaleX(1.3) scaleY(1.7);
    }

    &--full.btn--animated {
        animation: .5s ease-out moveInLeft 1.7s;
        animation-fill-mode: backwards;
        backface-visibility: hidden;

        &::after { background-color: $color-primary-orange; }
    }

    &--ghost.btn--animated {
        animation: .5s ease-out moveInRight 1.7s;
        animation-fill-mode: backwards;
        backface-visibility: hidden;

        &::after { border: 1px solid $color-white; }
    }
    
}