.feature-box {
    background-image: linear-gradient(to right bottom, rgba($color-light-green-1, .5), #fff );
    height: 44rem;
    padding: 1rem 1.7rem;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transition: transform .2s;
    font-size: 1.8rem;
    font-weight: 300;
    //backface-visibility: hidden;

    @include respond(large) { 
      height: 47rem;
      
   } 

    @include respond(medium) { 
      height: 27rem;
      font-size: 2rem;
      } 

    @include respond(big-phone) { 
      height: 34rem; 
     
   }
    
    &__icon {

        &--1 {
            margin-bottom: 1.5rem;
            width: 52%;
           
            @include respond(medium) {
                width: 11%;
             }

             @include respond(big-phone) {
                width: 17%;
             }

             @include respond(phone) {
                width: 20%;
             }
        }
        &--2 {
            margin-bottom: 1rem;
            width:47%;
           
            @include respond(medium) {
                width: 10%;
             }

             @include respond(big-phone) {
                width: 16%;
             }

             @include respond(phone) {
                width: 19%;
             }
        }
        &--3 {
            margin-bottom: -.5rem;
            width:52%;
            
            @include respond(medium) {
                width: 13%;
             }

             @include respond(big-phone) {
                width: 19%;
             }

             @include respond(phone) {
                width: 22%;
             }
        }
        &--4 {
            margin-bottom: 1rem;
            width:44%;
           
            @include respond(medium) {
                width: 10%;
             }

             @include respond(big-phone) {
                width: 16%;
             }

             @include respond(phone) {
                width: 19%;
             }
        }
    }

    &__paragraph {
        line-height: 145%;
        
        &::before {
            content: "";
            display: block;
            height: 2px;
            width: 9rem;
            margin: 0 auto;
            margin-bottom: 1.5rem;
            background-color: $color-primary-orange;
        }
    }
    &:hover {
        background-image: linear-gradient(to right bottom, rgba($color-light-green-1, .2), rgba($color-light-green-2, .3));
        transform: scale(1.03) translateY(-1rem) ;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
    }

}