.feature-box {
    background-image: linear-gradient(to right bottom, rgba($color-light-green-1, .5), #fff );
    height: 44rem;
    padding: 1rem 1.7rem;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transition: transform .2s;
    font-size: 1.8rem;
    font-weight: 300;
    //backface-visibility: hidden;
    
    &__icon {

        &--1 {
            margin-bottom: 1.5rem;
            width: 52%;
            
        }
        &--2 {
            margin-bottom: 1rem;
            width:47%;
        }
        &--3 {
            margin-bottom: -.5rem;
            width:52%;
        }
        &--4 {
            margin-bottom: 1rem;
            width:44%;
        }
    }

    &__paragraph {
        line-height: 145%;
        
        &::before {
            content: "";
            display: block;
            height: 2px;
            width: 9rem;
            margin: 0 auto;
            margin-bottom: 1.5rem;
            background-color: $color-primary-orange;
        }
    }
    &:hover {
        background-image: linear-gradient(to right bottom, rgba($color-light-green-1, .2), rgba($color-light-green-2, .3));
        transform: scale(1.03) translateY(-1rem) ;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
    }

}