.logo {
    
    &--main {
        width: 65%;
        animation: 1s ease-out moveInInside 1s;
        animation-fill-mode: backwards;

        @include respond(medium) {
            width: 75%;
        }

        @include respond(small) {
            width: 80%;
        }

        @include respond(big-phone) {
            width: 85%;
        }
    }
}