.mobile-button {
    position: fixed;
    top: 3rem;
    right: 2rem;
    z-index: 5000;
    display: none;

    @include respond(small) {
        display: block;
    }

    &__icon {
        
        fill: #fff;
        height: 6rem;
        width: 6rem;
        cursor: pointer;
        animation: .5s ease-out moveInUp 1.7s;
        animation-fill-mode: backwards;
    }

    
}
