.mobile-button {
    position: fixed;
    top: 3rem;
    right: 2rem;
    z-index: 5000;

    &__icon {
        display: none;
        fill: #fff;
        height: 6rem;
        width: 6rem;
        cursor: pointer;
        animation: .5s ease-out moveInUp 1.7s;
        animation-fill-mode: backwards;
    }
}
