@keyframes moveInInside {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #555; }

.heading-primary {
  text-transform: uppercase;
  font-size: 200%;
  font-weight: 300;
  letter-spacing: .5rem;
  backface-visibility: hidden;
  animation: .5s ease-out moveInBottom 1.5s;
  animation-fill-mode: backwards; }

.heading-secondary {
  display: inline-block;
  text-transform: uppercase;
  font-size: 180%;
  font-weight: 300;
  letter-spacing: .2rem;
  padding: .5rem 2rem;
  color: #EE5A24;
  text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.05) translateY(-1rem);
    text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.8); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.8rem; }

.section-about__paragraph {
  line-height: 145%;
  width: 100%;
  text-align: justify;
  padding: 0 8rem;
  border-left: 1px solid #EE5A24;
  border-right: 1px solid #EE5A24; }

.u-margin-bottom-mid {
  margin-bottom: 6rem; }

.u-margin-bottom-big {
  margin-bottom: 12rem; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

.btn:link, .btn:visited {
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  margin-right: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px); }

.btn:active {
  transform: translateY(-1px);
  background-color: #ed4e14; }

.btn--full {
  background-color: #EE5A24;
  color: #fff; }

.btn--ghost {
  backface-visibility: hidden;
  color: #EE5A24; }
  .btn--ghost:hover {
    color: #fff;
    background-color: #EE5A24; }
  .btn--ghost:active {
    background-color: #ed4e14; }

.btn--animated::after {
  backface-visibility: hidden;
  content: "";
  height: 100%;
  width: 100%;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s; }

.btn--animated:hover::after {
  opacity: 0;
  transform: scaleX(1.3) scaleY(1.7); }

.btn--full.btn--animated {
  animation: .5s ease-out moveInLeft 1.7s;
  animation-fill-mode: backwards; }
  .btn--full.btn--animated::after {
    background-color: #EE5A24; }

.btn--ghost.btn--animated {
  animation: .5s ease-out moveInRight 1.7s;
  animation-fill-mode: backwards; }
  .btn--ghost.btn--animated::after {
    border: 1px solid #EE5A24; }

.feature-box {
  background-color: #fff;
  height: 40rem;
  padding: 1rem 1.7rem;
  margin: 0 2rem;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  transition: transform .2s;
  font-size: 1.8rem; }
  .feature-box__icon--1 {
    margin: .2rem auto;
    width: 60%; }
  .feature-box__icon--2 {
    margin: 1rem auto;
    width: 50%; }
  .feature-box__icon--3 {
    margin: 1rem auto;
    width: 50%; }
  .feature-box__icon--4 {
    width: 55%; }
  .feature-box:hover {
    transform: translateY(-0.5rem) scale(1.03);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6); }

.logo--main {
  width: 65%;
  animation: 1s ease-out moveInInside 1s;
  animation-fill-mode: backwards; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

.header {
  background-image: linear-gradient(rgba(80, 80, 80, 0.78), rgba(0, 0, 0, 0.78)), url(../../vendors/img/silo.jpg);
  background-size: cover;
  background-position: left;
  height: 100vh;
  color: #fff;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75%; }
    .header__text-box__logo {
      margin-bottom: 2rem; }

.main-nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  animation: .5s ease-out moveInUp 1.7s;
  animation-fill-mode: backwards; }
  .main-nav li {
    font-size: 90%;
    margin: 4rem 4rem; }
  .main-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1.5rem;
    padding: 1.5rem .5rem;
    color: white;
    border: .2rem transparent;
    transition: border-bottom .2s; }
  .main-nav li a:hover {
    border-bottom: 0.2rem solid #EE5A24; }
  .main-nav li:active {
    transform: translateY(1px); }

.section-about {
  background-color: #f8f8f8;
  padding: 8rem 0;
  text-align: center; }
