@keyframes moveInInside {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(4rem);
        
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(4rem);
        
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
        
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
        
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
        
    }

    100% {
        opacity: 0;
        transform: translateY(-4rem);
    }
}
