.section-about {
    background-color: $color-grey-light;
    padding: 8rem 0;
}

.section-where {
    background-image: linear-gradient(rgba($color-grey-light-2, .9), rgba($color-grey-light-2, .9)), url(../../vendors/img/road-5.jpg);
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 8rem 0; 
    padding-bottom: 10rem;
    text-align: center;

    &__flag {
        opacity: .9;
        width: 35%;
        margin: .7rem;
        box-shadow: 0 .5rem 1rem rgba($color-black, .4);  
    }
    &__PL {
        opacity: .9;
        width: 78%;
    }
}

