.section-about {
    background-color: $color-white;
    padding: 10rem 0;

    @include respond(largest) {
        padding: 8rem 0;
    }

    @include respond (medium) {
        padding: 4rem 0;
    }
}

.section-where {
    background-color: $color-grey-light-2;
                        //linear-gradient(to bottom, rgba($color-grey-light-2, 1) 0%, rgba($color-grey-light-2, .5) 27%, rgba($color-grey-light-2, .0) 40%, rgba($color-grey-light-2, 0) 75%, rgba($color-grey-light-2, 1) 100% ),

                        //linear-gradient(to right, rgba($color-grey-light-2, 1) 0%, rgba($color-grey-light-2, .7) 35%,  rgba($color-grey-light-2, .3) 45%, rgba($color-grey-light-2, .3) 55%, rgba($color-grey-light-2, .7) 65%, rgba($color-grey-light-2, 1) 100%);
    background-size: cover;
    background-position: top;
    padding: 10rem 0; 
    padding-bottom: 10rem;
    text-align: center;

    @include respond(largest) {
        padding: 7rem 0;
    }
}

.where {
    background-image: linear-gradient(to right bottom, rgba($color-light-green-2, .4), rgba($color-light-green-2, .4)), url(../../vendors/img/map-1.jpg);
    background-position: center;
    background-size: cover;
    width: 60%;
    margin: 0 auto;
    padding: 4rem;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    backface-visibility: hidden;  
    transition: width .6s ease-out;
    position: relative;

    @include respond(largest) {
        width: 95%;
        & .where__arrow {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0);
        }
        & .where__PL {opacity: 1;}
        & .where__flag {opacity: 1}
        & .where__paragraph {opacity: 1;}
    }

    @include respond(large) {
        padding: 4rem 0;
     }

    &__arrow  {
        font-size: 8rem;
        color: $color-primary-orange;
        width: 20%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .2s .1s ease-out;
        
    }
    &__flag {
        opacity: 0;
        width: 35%;
        margin: .7rem;
        box-shadow: 0 .5rem 1rem rgba($color-black, .4);
        transition: opacity .4s .3s ease-out;
        backface-visibility: hidden;

        @include respond(medium) {
            width: 17%;
        }
        
        
    }
    &__PL {
        margin-bottom: 3.2rem;
        opacity: 0;
        width: 78%;
        transition: opacity .4s .3s ease-out;

        @include respond(medium) {
            width: 55%;
        }
    }

    &__paragraph {
        font-weight: 400;
        opacity: 0;
        margin-top: 3rem;
        transition: opacity .2s .2s ease-in;
        white-space: nowrap;

        @include respond(medium) {
            white-space: normal;
            font-size: 2.4rem;
            margin-top: 5rem;
        }
    }

    &:hover {
       // background-image: linear-gradient(to right bottom, rgba($color-light-green-2, .2), rgba($color-light-green-2, .2)), url(../../vendors/img/map-1.jpg);
        width: 95%;
        & .where__arrow {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0);
        }
        & .where__PL {opacity: 1;}
        & .where__flag {opacity: 1}
        & .where__paragraph {opacity: 1;}
    }

  & .IE {
      width: 95%;
  }
}

.section-trucks {
    padding: 10rem 0;
    background-color: $color-white;

    @include respond(largest) {
        padding: 7rem 0;
    }
}



.trucks {
    display: flex;
    align-items: center;

    &__nr {
        flex-shrink: 0;
        font-size: 6rem;
        text-align: center;
        height: 15rem;
        width: 15rem;
        padding: 3rem;
        margin-right: 5rem;
        border-radius: 50%;
        border: 2px solid $color-primary-orange;
        color: $color-primary-orange;

        @include respond(medium) {
            margin-bottom: 2.5rem;
        }
    }
    &__heading {
        display: block;
        font-size: 3rem;
        text-transform: uppercase;
        margin-right: 5rem;
        
   }

   &__paragraph {
        
    @include respond(medium) {
             margin-top: 2.5rem;
        }
   }


    @include respond(medium) {
        flex-wrap: wrap;
    }


    &:not(:last-child) { margin-bottom: 10rem; }


}

.photo {
    display: flex;
    justify-content: center;
    margin: 10rem auto;
    width: 100%;

    @include respond(medium) {
        flex-wrap: wrap;
    }

    &:last-child {margin-bottom: 0;}

    &__link {
        width: 25%;
        overflow: hidden;

        @include respond(medium) {
           width: 50%;
        }
    }

    &__1-4 {
        width: 100%;
        height: 100%;
        transition: all .4s;
        filter: brightness(75%);
        transform: scale(1.1);

        @include respond(medium) {
           
         }
      
        &:hover {
            transform: scale(1.03);
            filter: brightness(100%); 
        }
    }  

}


.section-contact {
    margin: 8rem 0;
    margin-bottom: 0;
    padding: 4rem 2rem 10rem 2rem;
    background-color: $color-primary-orange;
}

.contact {
    display: flex;
    justify-content: space-around;

    @supports(justify-content: space-evenly) {
        justify-content: space-evenly;
    }

    @include respond(medium) {
        flex-direction: column-reverse;
        align-items: center;
    }
   
    &__heading { color: $color-white; }


    &__map-box {
        
        width: 40%;
        border-radius: 7px;
        overflow: hidden;
        box-shadow: 0 1rem 3rem rgba($color-black, .3);

        @include respond(medium) {
           width: 80%;
           height: 40rem;
        }
    }

    &__map {
      
        width: 100%;
        height: 100%;
        border: none;
    }

    &__details {
        width: 40%;
        height: 100%;
        background-color: $color-white;
        border-radius: 7px;
        box-shadow: 0 1rem 3rem rgba($color-black, .3);

        @include respond(medium) {
            width: 80%;
            margin-bottom: 8rem;
         }
    }

    &__address {
        width: 90%;
        margin: 0 auto;
        
        font-weight: 700;
        text-align: left;
        padding: 2rem;

        &:not(:last-child) {
            border-bottom: 1px solid $color-primary-orange;
            text-transform: uppercase;
        }
        
    }   
}